.navbar {
    display: flex;
    align-items: center;
    padding: 1em;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img{
    width: 70px;
}


.hrefs {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    color: white;
    font-size: 0.9rem;
    gap: 0.8em;
}

.hrefs p {
    cursor: pointer;
    transition: all 0.3s;
    color: white;
}

.hrefs p:hover {
    color: rgb(172, 98, 241);
}


.discord {
    margin-left: auto;
    margin-right: 3em;
    animation: expander 3s infinite;
}

.discord span {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    cursor: pointer;
}

.dates{
    color: hsla(287, 100%, 79%, 1) !important;
}

.dates:hover {
    color: rgb(172, 98, 241) !important;
}

@keyframes expander {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}


