.navbar {
    display: flex;
    align-items: center;
    padding: 1em;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img {
    width: 100px;
}

.play {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(90deg, rgba(176, 88, 242, 1) 60%, rgba(197, 165, 255, 1) 100%) !important;
    box-shadow: 0 0 70px 10px #9069f5;
    padding-left: 1.7em;
    padding-right: 1.7em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-radius: 0.3em;
}

.hrefs {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    color: white;
    font-size: 0.9rem;
    gap: 1.2em;
}

.hrefs p {
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
}

.hrefs p:hover {
    color: rgb(231, 209, 250);
}



.discord {
    margin-left: auto;
    margin-right: 3em;
    animation: expander 3s infinite;
}

.discord span {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    cursor: pointer;
}


.selected {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    height: 25px;
    border-radius: 0.3em;
    background-color: rgb(154, 58, 250);
}

@keyframes expander {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.burger {
    display: none;
    margin-left: auto;
    color: white;
    font-size: 2.5rem;
    margin-right: 1em;
    cursor: pointer;
}

.mobilenav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    background: linear-gradient(180deg, rgba(176, 88, 242, 1) 15%, rgba(197, 165, 255, 1) 100%);
    overflow: hidden;
    z-index: 55;
    gap: 1em;
    animation: navShow 0.8s forwards;
}

@keyframes navShow {
    0% {
        right: -60em;
    }

    100% {
        right: 0em;
    }
}

.play2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(221, 98, 201);
    background: linear-gradient(98deg, rgba(221, 98, 201, 1) 16%, rgba(247, 192, 192, 1) 100%);
    box-shadow: 0 0 70px 10px #9069f5;
    padding-left: 1.7em;
    padding-right: 1.7em;
    padding-top: 0.3em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 0.3em;
    border-radius: 0.3em;
}

.mobilenav h2 {
    color: white;
    font-size: 2.7rem;
}

.mobilenav p {
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.mobilehrefs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.mobiledisc {
    margin-top: 0.3em;
    color: white;
    font-size: 3.3rem;
    animation: expander 3s infinite;
}

@media only screen and (max-width: 1017px) {
    .hrefs {
        display: none;
    }

    .discord {
        display: none;
    }

    .burger {
        display: flex;
    }
}