.area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3em;
    width: 100%;
}

.area h1 {
    color: white;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.statbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
}

.statbox h3 {
    color: white;
    font-weight: 300;
    font-size: 0.9rem;
}

.staticon {
    color: white;
    font-size: 1.8rem;
}

.notexist {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}

.notexist h1 {
    color: white;
    font-weight: 400;
}

.sad {
    font-size: 4rem;
    color: white;
}