.main {
    z-index: 1;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-size: 1.8em;
    color: white;
    cursor: pointer;
}

.box {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 1.5em;
    padding-right: 1.5em;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    height: 400px;
    background: rgb(47, 12, 110);
    padding-top: 1.5em;
    border-radius: 0.3em;
}

.box h2 {
    color: white;
    margin-bottom: 0.5em;
}

.categories {
    display: flex;
    align-items: center;
    gap: 0.6em;
    padding-bottom: 0.8em;
}

.categorie {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
    flex-wrap: wrap;
    height: 25px;
    background: linear-gradient(90deg, rgba(176, 88, 242, 1) 65%, rgba(197, 165, 255, 1) 100%);
    color: white;
    border-radius: 0.3em;
    font-size: 0.9rem;
    cursor: pointer;
}

.notifications {
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y: visible;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
    overflow-x: hidden;
    padding-top: 1.5em;
}

.notification {
    display: flex;
    align-items: center;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 0.5em;
    background: linear-gradient(90deg, rgba(176, 88, 242, 1) 65%, rgba(197, 165, 255, 1) 100%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}



.maininfo h3 {
    color: white;
    text-shadow: 2px 2px 1px black;
    width: fit-content;
    cursor: pointer;
}

.maininfo p {
    color: aliceblue;
    text-shadow: 2px 2px 1px black;
    font-size: 0.9rem;
}

.date {
    font-weight: 500;
    text-shadow: none;
    font-size: 0.8rem;
}

.notificationicon {
    margin-left: auto;
    margin-right: 0.5em;
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    flex: 1;
}

.loadericon {
    font-size: 2.5rem;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}