.games{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 1.5em;
}

.search {
    display: flex;
    justify-content: center;
}

.thegames{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.gamecontainer {
    display: flex;
    align-items: center;
    gap: 1em;
}

.actions{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.trashicon{
    color: red;
    font-size: 1.4rem;
    transition: all 0.3s;
    cursor: pointer;
}

.uploadicon{
    color: hsla(291, 100%, 80%, 1);
    font-size: 1.4rem;
    transition: all 0.3s;
    cursor: pointer;
}

.eyeicon{
    color: rgb(140, 162, 235);
    font-size: 1.4rem;
    transition: all 0.3s;
    cursor: pointer;
}

.eyeicon:hover{
    transform: scale(1.06);
}

.uploadicon:hover{
    transform: scale(1.06);
}

.trashicon:hover{
    transform: scale(1.06);
}

.gamebox{
    display: flex;
    align-items: center;
    width: 700px;
    background-color: rgba(184, 102, 255, 0.5);
    border-radius: 0.3em;
    padding: 0.4em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    cursor: pointer;
}

.gamebox:hover{
    background-color: rgba(184, 102, 255, 0.9);
}

.gamebox h2{
    margin-left: 0.5em;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}

.gamebox p{
    margin-left: auto;
    margin-right: 0.5em;
    color: rgb(238, 229, 229);
}

.nogames{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    font-size: 1.3rem;
    color: white;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin-top: 0.8em;
}

.filters{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5em;
}

.filters p{
    color: rgb(255, 255, 255);
}

.thefilters{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.filterbox{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(179, 86, 236);
    border-radius: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    height: 22px;
    font-size: 0.9rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.filterbox p{
    color: rgb(248, 247, 246);
}